#top {
    margin-bottom: 4em;

    .content {
        padding: 5em;
        border-radius: 2em;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background-color: $brownGray;
    }

    #map {
        height: 40em;
        width: 100%;
    }
}