/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.3em;
  background-color: white;
}

h1 {
  font-size: 4em;
  font-weight: 300;
}

h2 {
  font-size: 2.5em;
  font-weight: 300;
}

h3 {
  font-size: 1.75em;
  font-weight: 300;
}

a {
  color: #424C55;
}

#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 6em;
  text-align: center;
  padding: 2em 0 2em 0;
}

.frame {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

#top {
  margin-bottom: 4em;
}

#top .content {
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  padding: 5em;
  border-radius: 2em;
  -webkit-box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
          box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  background-color: #F9F9F9;
}

#top .aggregation {
  position: absolute;
  bottom: 10em;
  left: 10em;
  z-index: 9;
  height: 4em;
  width: 10em;
  padding: 2em;
  opacity: 0.5;
  background-color: #FFFFFF;
}

#aggSelector {
  position: absolute;
  bottom: 9em;
  left: 10em;
  z-index: 9;
  height: 3.5em;
  width: 10em;
  padding: 1.2em 1em 1.3em 1em;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1em;
  box-shadow: rgb(0 0 0 / 2%) 0px 1px 3px 0px, rgb(27 31 35 / 15%) 0px 0px 0px 1px;
}

#aggSelector .shiny-options-group {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  z-index: 10;
  height: 5em;
}

.note {
  font-size: 0.75em;
  text-align: left;
  margin-top: 1em;
}

.italic {
  font-style: italic;
}

#middle {
  margin-bottom: 14em;
}

#middle .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 24em;
  max-width: 85em;
  margin: 0 auto;
}

#middle .content .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 2em;
}

#middle h2 {
  margin: 0 0 0.5em 2em;
}

.description {
  margin-bottom: 1em;
}

#middle .content .panel .left {
  display: inline-block;
  margin: 0 2em 0 0;
  height: 100%;
  width: 100%;
}

#middle .content .panel .left .partner {
  display: inline-block;
  width: 49%;
}

#middle .content .panel .right {
  display: inline-block;
  height: 100%;
  width: 60em;
}

#middle .content .panel .right .selectors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1em;
}

#bottom {
  margin-bottom: 10em;
}

#bottom .content {
  max-width: 85rem;
  text-align: center;
  margin: 0 auto;
}

#bottom h3 {
  margin-bottom: 0.5em;
}

#bottom .content .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
}

#bottom .content .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: start;
  width: 15em;
  text-align: right;
  margin: 2em 2em 0 auto;
}

#bottom .content .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50em;
  height: 30em;
  margin-top: 2em;
}

#bottom .content .right {
  width: 15em;
  margin: 2em auto 0 2em;
}

#bottom .content .center #npi {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#footer {
  padding: 5em 0;
  font-size: 0.875rem;
  color: #F9F9F9;
  background-color: #424C55;
}

#footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

#footer .content .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

#footer .content .panel .infos .item {
  margin-top: 2em;
}

#footer .content .panel .left {
  width: 30em;
  margin: 0 2em 0 0;
}

#footer .content .panel .center {
  width: 20em;
  margin: 0 2em 0 0;
}

#footer .content .panel .right {
  width: 10em;
  margin: 0;
}

/* Leaflet CSS */

#top #map {
  background-color: #F9F9F9;
}

.leaflet-tooltip-pane {
  width: 10em;
}

.leaflet-tooltip-pane .title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.25em;
}

.leaflet-tooltip-pane table {
  width: 100%;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
}

.leaflet-tooltip-pane td {
  padding: 0.7em;
  border: none;
}

.leaflet-tooltip-pane th {
  padding: 0.5em;
  border: none;
  color: #424C55;
}

.leaflet-tooltip-pane .top-row {
  font-weight: 600;
  border: none;
  background-color: #F9F9F9;
}

.leaflet-tooltip-pane .center {
  text-align: center;
}

#middle #tradeMap {
  background-color: #FFFFFF;
  margin-bottom: 1em;
}

.leaflet-tooltip-pane .trade-title {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.25em;
}

input[type="radio"] {
  margin-right: 1em;
  cursor:pointer;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #424C55;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}